@model MvcFilmDb.Models.FilmTuruViewModel

@{
    ViewData["Title"] = "Film Listesi";
}

<h1>Filmler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Ekle</a>
</p>

<form asp-controller="Films" asp-action="Index" method="get"> @*//arama eklendi. method=get diyerek yapılan aramanın url'e de yansıması sağlandı*@
    <p>
        
        <select asp-for="filmTuru" asp-items="Model.turler">
            <option value="">Tümü</option>
        </select>

        Başlık: <input type="text" class="mr-3" asp-for="arama" />
        <input type="submit" class="btn btn-dark" value="Ara" />
    </p>
</form>

<table class="table table-bordered align-middle">
    <thead class="text-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.filmler[0].baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmler[0].cikisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmler[0].tur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmler[0].yonetmen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.filmler[0].puan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.filmler) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.baslik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cikisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.yonetmen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puan)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning mt-1 mb-1" asp-route-id="@item.id">Düzenle</a>
                <a asp-action="Details" class="btn btn-info mt-1 mb-1" asp-route-id="@item.id">Detaylar</a> 
                <a asp-action="Delete" class="btn btn-danger mt-1 mb-1" asp-route-id="@item.id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
